FLASK_ENV=production
SECRET_KEY=mysecretkey123
JWT_SECRET_KEY=jwtkey456
DB_HOST=gateway01.ap-southeast-1.prod.alicloud.tidbcloud.com
DB_PORT=4000
DB_NAME=tradeiq
DB_USER=YdgqymojqpaKqJk.root
DB_PASSWORD=O05u8oaw4PJnZOm7
RESEND_API_KEY=re_your_resend_api_key
